body{
    margin: 0;
    background: #222;
    font-family: 'Work Sans',sans-serif;
    font-weight: 300;
}
.container{
    width: 100%;
    margin: 0 auto;
    background: #55d6aa;

}



.container::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    width:130px;
    height:50px;
    padding: 10px;
    margin-left: 100px;

}
nav{
    float:right;
}

.ul1{
    margin: 0;
    padding: 0;
    list-style: none;
}
.li1{
    display: inline-block;
    margin-right: 100px;
    padding-top: 25px;
}

.nav{
    color: #444;
    margin-left: 100px;
    text-decoration: none;
}
header{
    height: 100px;
    background: #ffffff;
}
.name{
    display:block;
    text-align:center;
    padding-top: 10px;
    font-size: 80px

}
.presentation{
    margin-left: auto;
  margin-right: auto;
    
    background: #ffffff;
    width: 80%;
}
.pp{
    width:112,5px;
    height:150px;
    float :left;
}
.pres{
    margin-left: 120px;
}

.CV{
    background: #ffffff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
}

h1{
    color: #30877B;
    
}
.souT{
    color: #30877B;
}
.gras{
    color: #55d6aa;
}
